Source: ruby-boxgrinder-ubuntu-plugin
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Sergio Rubio <rubiojr@frameos.org>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.2.13~)
Standards-Version: 3.9.2
#Vcs-Git: git://git.debian.org/pkg-ruby-extras/ruby-boxgrinder-ubuntu-plugin.git
#Vcs-Browser: http://git.debian.org/?p=pkg-ruby-extras/ruby-boxgrinder-ubuntu-plugin.git;a=summary
Homepage: http://github.com/rubiojr/boxgrinder-ubuntu-plugin
XS-Ruby-Versions: all

Package: ruby-boxgrinder-ubuntu-plugin
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter, boxgrinder-build
Description: Ubuntu OS boxgrinder plugin
 Ubuntu OS boxgrinder plugin
